@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Spartan:wght@400;500;700;800;900&display=swap');
#header{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
header i{
    margin-left: 90px;
    margin-top: 49px;
    font-size: 30px;
}
#title{
    font-size: 35px;
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
}
#today{
    font-size: 22px;
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
    color: black;
    position: absolute;
    top: 39px;
    right: 180px;
}
#today_date{
    line-height: 100px;
    margin-right: 70px;
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
    color: #3e3f41;
}
#question{
    font-size: 97px;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    text-align: center;
    letter-spacing: -1px;
    line-height: 125px;
    margin-top: 120px;
}
#input_guide1{
    font-size: 19px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    letter-spacing: -1px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 0px;
    color: #464646;
}
#input_guide2{
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    letter-spacing: -1px;
    color: #888888;
    text-align: center;
    margin-top: 10px;
}
hr{
    background-color: #bbbdbb;
    margin-top: 28px;
    width: 647px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
li label{
    font-size: 16px;
    color: #838383;
}
li input{
    width: 137px;
    height: 25px;
    border-radius: 13px;
    background-color: #f5f5f5;
    border: none;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
    color: #636363;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
input{
    padding: 0;
    margin: 0 14px 0 25px;
}
#letsSee{
    display: block;
    margin: 71px auto 0 auto;
    width: 188px;
    height: 45px;
    border-radius: 23px;
    border: 2.4px solid #959896;
    color: #7e817e;
}
#letsSee:hover{
    background-color: #05005c;
    color: white;
    border: none;
}